body {
    overflow: auto;
    height: 100%;
    background-color: white;
    /*background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(242,242,242,1) 100%, rgba(255,255,255,1) 100%); */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
    padding-left: 1rem;
    text-align: center;
}

h3 {
    color: rgb(0, 0, 0);
}

#list {
    overflow: auto;
    width: 100%;
}

#details {
    padding-left: 25px;
    text-align: left;
}

#pendingTasks {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

#iconImp {
    font-size: 25px;
}

#iconImp.far {
    color: rgb(0, 217, 255);
}

#iconImp.fas {
    color: rgb(248, 51, 1);
}

.task {
    color: rgb(255, 255, 255);
    width: auto;
    border: 1px solid #cecece;
    padding: 10px 20px;
    margin-right: 10px;
    margin-left: 0px;
    background: linear-gradient(0deg, rgb(126, 126, 126) 0%, rgb(177, 173, 173) 100%, rgb(10, 9, 9) 100%);
    border-radius: 6px;
    text-align: left;
}

.hide {
    display: none;
}

#btnSave {
    margin-top: 10px;
    margin-bottom: 10px;
}

#btnContact {
    margin-top: 10px;
    margin-bottom: 10px;
}

#openDetailsButton {
    color: white;
    height: 25%;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    background-color: rgb(141, 141, 141);

}

.deleteTaskButton {
    margin-left: 75px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

/* for desktop */
@media only screen and (min-width: 768px) {
    h1 {
        text-align: left;
    }

    #list a {
        display: none;
    }

    .container2 {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90vh;
    }

    .body {
        display: grid;
        grid-template-columns: 80% 20%;
        overflow: auto;
    }

    #pendingTasks {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }

    #openDetailsButton {
        margin-top: 50%;
        margin-left: 10%;
        width: 75%;

    }
}