table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    }

.flex-element{
    background-color:green;
    color:yellow;
    padding: 3rem;
    border: 1px solid black;
    width: 100px;
    height: 150px;
}

.grid-container{
display: grid;
/*grid-template-columns: 1fr 1fr 2fr;same as fraction but need to know percentages*/
grid-template-columns: repeat(3,1fr);
column-gap: 1px;
row-gap: 3rem;
}

.grid-element{
background-color: grey;
color:black;
border: 1px solid black;
height: 10rem;
width: 10rem;
}

input[type="text"]{
    width:100%;
    padding:1rem;
}